<div class="address-card-container">
  <ng-container *ngIf="selectedAddress; else noAddress">
    <div class="address-box">
      <div class="address-text">
        <p>
          Deliver to: <strong>{{ selectedAddress.fullName }}, {{ selectedAddress.pincode }}</strong>
        </p>
        <p>
          {{ selectedAddress.street }}, {{ selectedAddress.street2 }},
          {{ selectedAddress.city }}, {{ selectedAddress.state }} - {{ selectedAddress.pincode }}
        </p>
      </div>
      <button class="change-address-btn" (click)="onChangeAddress()">Change Address</button>
    </div>
  </ng-container>

  <ng-template #noAddress>
    <div class="no-address-box">
      <p>No address added yet.</p>
      <button class="add-address-btn" (click)="onAddAddress()">Add Address</button>
    </div>
  </ng-template>
</div>
