<!-- <div class="order-summary">
  <h3>Your Order</h3>
  <div class="order-item">
    <p>{{ orderDetails.productName }} - {{ orderDetails.color }}</p>
    <p>{{ orderDetails.quantity }} x ${{ orderDetails.price }}</p>
  </div>
  <div class="order-totals">
    <p>Subtotal: ${{ orderDetails.subtotal }}</p>
    <p>Discount: ${{ orderDetails.discount }}</p>
    <p>Shipment cost: ${{ orderDetails.shipmentCost }}</p>
    <p><strong>Grand total: ${{ orderDetails.grandTotal }}</strong></p>
  </div>
  <button class="continue-payment" (click)="goToPaymentPage()">Continue to payment</button>
</div> -->


<div class="checkout-summary">
  <h2>Price Details</h2>
  <hr />

  <div class="summary-item">
    <p>Price (1 item):</p>
    <p>{{ 330 | currency:'INR' }}</p>
  </div>
  <div class="summary-item">
    <p>Discount:</p>
    <!-- <p>-{{ 12000 | currency:'INR' }}</p> -->
  </div>
  <div class="summary-item">
    <p>Total GST:</p>
    <!-- <p>-{{ 100 | currency:'INR' }}</p> -->
  </div>
  <div class="summary-item">
    <p>Delivery Charges:</p>
    <!-- <p>Free</p> -->
  </div>
  <hr />
  <div class="total-amount">
    <p>Total Amount:</p>
    <p>{{ 330 | currency:'INR' }}</p>
  </div>
  <p class="savings-text">You will save ₹ on this order</p>
  <!-- <button class="checkout-btn" (click)="goToCheckoutPage()">Place Order</button> -->
</div>
