<!-- Top Bar -->
<div class="top-bar">
  <div class="social-icons">
    <img src="../../../../assets/images/facebook.png" alt="Facebook" />
    <img src="../../../../assets/images/youtube.png" alt="YouTube" />
    <img src="../../../../assets/images/twitter.png" alt="Twitter" />
    <img src="../../../../assets/images/instagram.png" alt="Instagram" />
  </div>
  <div class="top-bar-right">
    <div class="location-dropdown">
      <span>Location:</span>
      <select>
        <option>Australia</option>
        <option>Canada</option>
        <option>Europe</option>
        <option>India</option>
        <option>Singapore</option>
        <option>UK</option>
        <option>USA</option>
      </select>
    </div>
    <div class="customer-care">
      <img src="../../../../assets/images/customer-care.png" alt="Customer Care" />
      <span>+001234567890</span>
    </div>
  </div>
</div>

<!-- Header -->
<header class="app-header">
  <div class="logo">
    <img src="../../../../assets/images/logo.png" alt="Kalaguragampa Logo" />
    <span class="brand-text">Kalaguragampa</span>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Search for products..." />
    <button class="search-button">
      <img src="../../../../assets/images/search.png" width="20" height="20" alt="Search Icon" />
    </button>
  </div>

  <div class="header-actions">
    <div class="account-wrapper" (click)="toggleMenu()" aria-haspopup="true">
      <!-- Account Section -->
      <div class="action-item account-item">
        <img src="../../../../assets/images/Account.png" width="20" height="20" alt="Account Icon" />
        <span>Account</span>
      </div>

      <!-- Dropdown Menu -->
      <app-menu-dropdown *ngIf="isMenuOpen" [menuItems]="menuItems" (menuAction)="onMenuAction($event)"
        aria-label="Account Dropdown Menu"></app-menu-dropdown>
    </div>


    <div class="action-item">
      <img src="../../../../assets/images/Wishlist.png" width="20" height="20" />
      <span>Wishlist</span>
    </div>
    <div class="action-item">
      <img src="../../../../assets/images/cart.png" width="20" height="20" />
      <span>Cart</span>
    </div>
  </div>

  <app-dialog [isVisible]="isLoginDialogVisible" [dialogTitle]="'Login'" [contentTemplate]="loginTemplate"
    (closeDialog)="closeLoginDialog()"></app-dialog>

  <ng-template #loginTemplate>
    <app-login></app-login>
  </ng-template>
</header>
