<!-- Top Bar -->
<div class="top-bar">
  <div class="social-icons">
    <a href="https://www.facebook.com/Kalaguragampa.Sreedevi" target="_blank" rel="noopener noreferrer">
      <img src="../../../../assets/images/facebook-48.png" alt="Facebook" />
    </a>
    <a href="https://www.youtube.com/c/KalaguraGampa" target="_blank" rel="noopener noreferrer">
      <img src="../../../../assets/images/youtube-48.png" alt="YouTube" />
    </a>
    <a href="https://x.com/i/flow/login?redirect_after_login=%2FKalagura_gampa" target="_blank"
      rel="noopener noreferrer">
      <img src="../../../../assets/images/x-48.png" alt="Twitter" />
    </a>
    <a href="https://www.instagram.com/kalagura_gampa/" target="_blank" rel="noopener noreferrer">
      <img src="../../../../assets/images/instagram-48.png" alt="Instagram" />
    </a>
  </div>
  <div class="top-bar-right">
    <div class="location-dropdown">
      <select [(ngModel)]="selectedCountry">
        @for (item of countryOptions; track item.value) {
        <option [ngValue]="item.value">{{ item.label }}</option>
        }
      </select>
    </div>
    <div class="customer-care">
      <img src="../../../../assets/images/customer-support.gif" alt="Customer Care" />
      <span title="Dedicated Help Center (IST 9:30 AM to 6 :00 PM)">040-71903466</span>
    </div>
  </div>
</div>

<!-- Header -->
<header class="app-header">
  <div class="logo" (click)="goToHomePage()">
    <img src="../../../../assets/images/logo.png" alt="Kalaguragampa Logo" />
    <span class="brand-text">Kalagura Gampa</span>
  </div>

  <div class="search-bar">
    <input type="text" class="search-input" placeholder="Search for products..." [value]="searchQuery()"
      (input)="onSearchChange($event)" (keydown)="onSearchKeyDown($event)" (click)="checkMenuDropdownIsOpen()"
      aria-label="Search for products" />
    <button class="search-button">
      <img src="../../../../assets/images/search.png" width="20" height="20" alt="Search Icon" />
    </button>
  </div>

  <!-- ✅ Live Search Suggestions -->
  <div class="search-suggestions" *ngIf="showSuggestions() && (products$ | async) ?? []!.length > 0;">
    <ul>
      <li *ngFor="let product of products$ | async; let i = index" (click)="goToProductDetails(product)"
        [ngClass]="{ 'highlighted': i === selectedIndex() }">
        <img [src]="getImagePath(product.images![0].image)" alt="{{ product.name }}" class="product-img" (error)="onImageError($event)" />
        <div class="product-info">
          <span class="product-name">{{ product.name }}</span>
          <span class="product-price">₹{{ product.price }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="header-actions">
    <div class="account-wrapper" (click)="toggleMenu()" aria-haspopup="true">
      <!-- Account Section -->
      <div class="action-item account-item">
        <img src="../../../../assets/images/Account.png" width="20" height="20" alt="Account Icon" />
        <span>Account</span>
      </div>

      <!-- Dropdown Menu -->
      <app-menu-dropdown *ngIf="isMenuOpen" [menuItems]="menuItems()" (menuAction)="onMenuAction($event)"
        aria-label="Account Dropdown Menu"></app-menu-dropdown>
    </div>


    <div class="action-item" (click)="goToWishlistPage()">
      <img class="wishlist-image" src="../../../../assets/images/Wishlist.png" width="20" height="20" />
      <span>Wishlist</span>
      <div class="wishlist-badge" *ngIf="wishlistCount() > 0">{{ wishlistCount() }}</div>
    </div>
    <div class="action-item" (click)="goToCartPage()">
      <img class="cart-image" src="../../../../assets/images/cart-48.png" width="20" height="20" />
      <span>Cart</span>
      <div class="cart-badge" *ngIf="cartlistCount() > 0">{{ cartlistCount() }}</div>
    </div>
  </div>

  <app-dialog [isVisible]="isLoginDialogVisible" [contentTemplate]="loginTemplate"
    (closeDialog)="closeLoginDialog(true)"></app-dialog>

  <ng-template #loginTemplate>
    <app-login [activeLoginMethod]="selectedLoginMethod" (closeLoginDialog)="closeLoginDialog($event)"></app-login>
  </ng-template>
</header>
