<header class="header-container">
  <div class="top-bar">
    <span class="contact-info">
      <i class="pi pi-facebook mx-2"></i>
      <i class="pi pi-twitter mx-2"></i>
      <i class="pi pi-youtube mx-2"></i>
      <i class="pi pi-instagram mx-2"></i>
    </span>
    <span class="language-location-container">
      <p-select [options]="countryOptions" optionLabel="name" optionValue="id"></p-select>
    </span>
  </div>

  <div class="header-content">
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="KalaguraGampa Logo" />
      <span>KalaguraGampa</span>
    </div>

    <nav class="nav-links">
      <ul>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">What’s New</a></li>
        <li><a href="#">Delivery</a></li>
      </ul>
    </nav>

    <div class="search-and-icons">
      <div class="search-container">
        <input class="form-control" type="text" placeholder="Search Product" />
        <i class="pi pi-search search-icon"></i>
      </div>
      <div class="icons">
        <a href="#" class="account-icon" (click)="menu.toggle($event)">
          <i class="pi pi-user"></i>
          Account
        </a>

        <p-menu #menu [model]="menuItems" [popup]="true" />

        <a href="#" class="cart-icon">
          <i class="pi pi-shopping-cart"></i>
          Cart
        </a>
      </div>
    </div>
  </div>

  <ng-container *ngIf="showLoginDialog">
    <app-login></app-login>
  </ng-container>
</header>


