<div class="cart-container">
  <!-- Cart Items Section -->
  <div class="cart-items">
    <h2>From Saved Addresses</h2>
    <div class="cart-item">
      <div class="product-details">
        <img [src]="cartItems[0].imageUrl" alt="{{ cartItems[0].name }}" class="product-image" />
        <div>
          <h3>{{ cartItems[0].name }}</h3>
          <!-- <p>Seller: BTPLD <span class="assured-icon">✔ Assured</span></p> -->
          <p class="original-price">{{ cartItems[0].price | currency:'INR' }}</p>
          <!-- <p class="discounted-price">{{ cartItems[0].price | currency:'INR' }}</p> -->
          <!-- <p class="offer-text">8% Off | 1 offer applied</p> -->
        </div>
      </div>
      <div class="quantity-actions">
        <button class="increment-decrement-buttons" (click)="updateQuantity(cartItems[0], 'decrement')">-</button>
        <input type="number" [value]="cartItems[0].quantity" readonly />
        <button class="increment-decrement-buttons" (click)="updateQuantity(cartItems[0], 'increment')">+</button>
      </div>
      <div class="action-links">
        <button class="save-for-later">Save for Later</button>
        <button class="remove" (click)="removeItem(cartItems[0].id)">Remove</button>
      </div>
    </div>
  </div>

  <!-- Price Details Section -->
  <div class="checkout-summary">
    <h2>Price Details</h2>
    <hr />

    <div class="summary-item">
      <p>Price (1 item):</p>
      <p>{{ 330 | currency:'INR' }}</p>
    </div>
    <div class="summary-item">
      <p>Discount:</p>
      <!-- <p>-{{ 12000 | currency:'INR' }}</p> -->
    </div>
    <div class="summary-item">
      <p>Total GST:</p>
      <!-- <p>-{{ 100 | currency:'INR' }}</p> -->
    </div>
    <div class="summary-item">
      <p>Delivery Charges:</p>
      <!-- <p>Free</p> -->
    </div>
    <hr />
    <div class="total-amount">
      <p>Total Amount:</p>
      <p>{{ grandTotal | currency:'INR' }}</p>
    </div>
    <p class="savings-text">You will save ₹ on this order</p>
    <button class="checkout-btn" (click)="goToCheckoutPage()">Place Order</button>
  </div>
</div>
