<div class="address-wrapper">
  <div class="address-header-row">
    <h2 class="section-title">Select Delivery Address</h2>
    <button class="add-address-btn" (click)="openAddressDialog('add')">Add New Address</button>
  </div>

  <div *ngFor="let address of addressList" class="address-card" [class.selected]="address.isDefault" [@moveToTop]>

    <div class="address-header">
      <div class="radio-label">
        <input type="radio" name="address" [checked]="address.isDefault" (click)="selectAddress(address.id!)" />
        <strong>{{ address.fullName }}</strong>
        <span class="default-tag" *ngIf="address.isDefault">Default</span>
      </div>
    </div>

    <div class="address-body">
      <p>{{ address.street }}<span *ngIf="address.street2">, {{ address.street2 }}</span></p>
      <p>{{ address.city }}, {{ address.state }} - {{ address.pincode }}</p>
      <p>{{ address.country }}</p>
      <p>Mobile: <strong>{{ address.phone }}</strong></p>
    </div>

    <div class="address-actions">
      <button type="button" class="btn outline" (click)="confirmDelete()">Remove</button>
      <button type="button" class="btn outline" (click)="openAddressDialog('edit')">Edit</button>
      <button *ngIf="!address.isDefault" type="button" class="btn set-default" (click)="setAsDefault(address.id!)">
        Set as Default
      </button>
    </div>
  </div>

  <app-dialog [isVisible]="isAddressDialogVisible" [contentTemplate]="addAddressTemplate"
    (closeDialog)="closeDialog(true)"></app-dialog>

  <ng-template #addAddressTemplate>
    <app-add-address-dialog [formMode]="mode" [initialData]="selectedAddress" (save)="saveAddress($event)" (cancel)="closeDialog(true)"></app-add-address-dialog>
  </ng-template>
</div>
