.shipping-billing {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: transparent !important;
  color: black !important;
}

input:focus, select:focus {
  border-color: #28a745;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
