.product-list-container {
  display: flex;
  gap: 15px; /* Space between items */
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth;
  padding: 10px;
  white-space: nowrap; /* Prevent wrapping */
}

/* Hide scrollbar in webkit browsers */
.product-list-container::-webkit-scrollbar {
  display: none;
}

/* Individual Product Styling */
.product-card {
  flex: 0 0 auto; /* Prevents shrinking and ensures fixed width */
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 15px;
  margin: 10px 0; /* Adjust margin for better spacing */

  /* Wishlist Icon Styling */
  .wishlist-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #f7a500; /* Gold color for hover effect */
    }
  }

  /* Product Image */
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }

  /* Product Details */
  .product-details {
    text-align: left;
    margin-top: 15px;

    .product-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        cursor: pointer;
      }

      .product-price {
        font-size: .8rem;
        color: #333;
      }
    }

    .product-description {
      font-size: 0.7rem;
      color: #666;
      margin-bottom: 15px;
    }

    .product-rating {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;

      .rating-count {
        margin-left: 8px;
        color: #888;
        font-size: 0.7rem;
      }
    }

    .add-to-cart {
      background-color: white;
      color: black;
      border: 1px solid black;
      border-radius: 25px;
      padding: 8px 20px;
      cursor: pointer;
      font-size: .7rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f7a500;
        color: white;
      }
    }
  }
}

/* Scroll Buttons */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #f7a500;
    color: white;
  }
}

.left-scroll {
  left: 10px;
}

.right-scroll {
  right: 10px;
}
