.product-card {
  flex: 0 0 auto;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 15px;
  margin: 10px 0;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .wishlist-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease;

    &.active .heart-icon {
      color: red;
      transform: scale(1.2);
    }

    .heart-icon {
      color: #ccc;
    }

    &:hover .heart-icon {
      transform: scale(1.1);
    }
  }



  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }

  .product-details {
    text-align: left;
    margin-top: 15px;

    .product-header h4 {
      font-size: 1rem;
      font-weight: bold;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .product-price {
      font-size: .8rem;
      color: #000;
      font-weight: 600;
      margin: 8px 0;
    }

    .rating-cart-wrapper {
      display: flex;
      align-items: center;

      .product-rating {
        font-size: 14px;
        color: #444;
      }

      .add-to-cart-wrapper {
        margin-left: auto; // Push to extreme right
        position: relative;
        cursor: pointer;

        .add-to-cart-icon {
          font-size: 20px;
          display: inline-block;
          animation: bounce 1s infinite;
          animation-play-state: paused;
          transition: transform 0.3s;
        }

        &:hover .add-to-cart-icon {
          animation-play-state: running;
          transform: scale(1.2);
        }

        .tooltip {
          position: absolute;
          bottom: 125%;
          left: 50%;
          transform: translateX(-50%);
          background-color: #333;
          color: #fff;
          padding: 4px 8px;
          font-size: 12px;
          border-radius: 4px;
          opacity: 0;
          white-space: nowrap;
          pointer-events: none;
          transition: opacity 0.3s ease;
        }

        &:hover .tooltip {
          opacity: 1;
        }
      }
    }
  }


  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(-5px);
    }

    60% {
      transform: translateY(0px);
    }
  }

  .spinner.mini {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-top: 2px solid #333;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
