<div class="payment-container">
  <h3>Select payment methods</h3>

  <form [formGroup]="paymentForm">
    <div class="payment-option">
      <label>
        <input type="radio" formControlName="paymentMethod" value="creditCard" /> Credit card
        <img src="assets/visa-mastercard-icons.png" alt="Visa, MasterCard" class="payment-icons" />
      </label>
    </div>

    <div *ngIf="paymentForm.get('paymentMethod')?.value === 'creditCard'">
      <div class="form-group">
        <label for="cardNumber">Card number</label>
        <input type="text" id="cardNumber" formControlName="cardNumber" placeholder="Card number" />
      </div>

      <div class="form-group">
        <label for="cardName">Name on card</label>
        <input type="text" id="cardName" formControlName="cardName" placeholder="Name on card" />
      </div>

      <div class="form-group">
        <label for="expirationDate">Expiration date (MM/YY)</label>
        <input type="text" id="expirationDate" formControlName="expirationDate" placeholder="MM/YY" />
      </div>

      <div class="form-group">
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" formControlName="cvv" placeholder="CVV" />
      </div>
    </div>

    <div class="payment-option">
      <label>
        <input type="radio" formControlName="paymentMethod" value="paypal" /> PayPal
        <img src="assets/paypal-icon.png" alt="PayPal" class="payment-icons" />
      </label>
    </div>

    <!-- <div class="payment-option">
      <label>
        <input type="radio" formControlName="paymentMethod" value="neteller" /> Neteller
        <img src="assets/neteller-icon.png" alt="Neteller" class="payment-icons" />
      </label>
    </div> -->

    <button type="submit" (click)="showPaymentSuccessRFailure()">Continue</button>
  </form>
</div>
