<div class="notification-preferences">
  <h2>Notification Preferences</h2>

  <div
    class="notification-option"
    *ngFor="let option of notificationOptions"
    (click)="toggleSetting(option.key)"
    [@fadeStagger]
    [class.checked]="settings()[option.key]"
  >
    <label>
      <input
        type="checkbox"
        [checked]="settings()[option.key]"
        (change)="toggleSetting(option.key)"
      />
      {{ option.label }}
    </label>
  </div>

  <button class="save-btn" (click)="saveSettings()" @fadeStagger>Save Preferences</button>
</div>
