<div class="order-history">
  <h2 class="title">
    Your Orders <span class="order-count">{{ orders.length }}</span>
  </h2>

  <!-- Skeleton loader -->
  <ng-container *ngIf="loading">
    <div class="skeleton-card" *ngFor="let _ of [1, 2, 3]"></div>
  </ng-container>

  <!-- Actual order cards -->
  <ng-container *ngIf="!loading">
    <ng-container *ngFor="let item of orders">
      <app-order-card [@fadeInUp]></app-order-card>
    </ng-container>
  </ng-container>


  <!-- Pagination -->
  <div class="pagination">
    <button class="page-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span class="page-indicator">Page {{ currentPage }}</span>
    <button class="page-btn" (click)="nextPage()"
      [disabled]="(currentPage * pageSize) >= filteredOrders.length">Next</button>
  </div>
</div>
