.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-container {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  max-width: 80vw;
  max-height: 90vh;
  padding: 0px;
  position: relative;
  overflow-y: auto;
  /* To position the close button absolutely */

  // .dialog-header {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   border-bottom: 1px solid #eee;
  //   padding-bottom: 10px;

  //   h3 {
  //     margin: 0;
  //     font-size: 1.25rem;
  //   }
  // }
}

/* Close button outside the dialog */
.close-button {
  position: absolute;
  top: 6px;
  /* Position outside the dialog */
  right: 5px;
  /* Position outside the dialog */
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #f8f8f8;
  }
}
