<div class="product-card skeleton">
  <div class="wishlist-icon">
    <div class="skeleton-box circle"></div>
  </div>
  <div class="product-image">
    <div class="skeleton-box image"></div>
  </div>
  <div class="product-details">
    <div class="product-header">
      <div class="skeleton-box title"></div>
      <div class="skeleton-box subtitle"></div>
    </div>
    <div class="skeleton-box description"></div>
    <div class="product-rating">
      <div class="skeleton-box rating"></div>
    </div>
  </div>
</div>
