.product-container {
  display: flex;
  padding: 20px;
  gap: 40px;
  align-items: center;
}

.product-image img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
}

.thumbnail-container img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid #ccc;
  cursor: pointer;
}

.thumbnail-container img:hover {
  border-color: #28a745;
}

.product-details {
  flex: 1;
  max-width: 500px;
}

.product-details h1 {
  font-size: 2rem;
  font-weight: bold;
}

.product-description {
  color: #666;
}

.product-rating {
  margin-top: 10px;
}

.product-price span {
  font-weight: bold;
  font-size: 1.5rem;
}

.financing {
  color: #555;
}

.color-selector {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}

.color.black {
  background-color: black;
}

.product-quantity-stock-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.product-quantity {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 5px;
}

.product-quantity input {
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.quantity-btn {
  background: transparent;
  color: #99663D;
  border: none;
  padding: 5px;
  cursor: pointer;
  // border-radius: 10px;
  font-size: 16px;
}

.stock-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.stock-count {
  color: #f77f00;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}

.stock-info p {
  margin: 0;
  font-size: 14px;
  color: #333;
}


.product-actions {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.buy-now-btn,
.add-to-cart-btn {
  width: 20%;
  padding: 10px;
  font-size: .8rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  border-radius: 20px;
}

.buy-now-btn {
  background-color: #99663D;
  color: white;
  // border
}

.add-to-cart-btn {
  color: white;
}

.buy-now-btn:hover,
.add-to-cart-btn:hover {
  opacity: 0.9;
}

.delivery-info {
  margin-top: 20px;
  color: #555;
}

.delivery-info a {
  color: #007bff;
  text-decoration: none;
}
