<div class="product-container">
  <div class="product-image">
    <img src="assets/images/logo.png" alt="Airpods Max" />
    <div class="thumbnail-container">
      <img src="assets/images/logo.png" alt="Airpods Max Color Red" />
      <img src="assets/images/logo.png" alt="Airpods Max Color Blue" />
      <img src="assets/images/logo.png" alt="Airpods Max Color Black" />
      <!-- Add more thumbnails as needed -->
    </div>
  </div>

  <div class="product-details">
    <h1>Airpods- Max</h1>
    <p class="product-description">A perfect balance of exhilarating high-fidelity audio and the effortless magic of
      AirPods.</p>
    <div class="product-rating">
      <span>⭐⭐⭐⭐⭐</span>
      <span>(121)</span>
    </div>
    <div class="product-price">
      <span>549.00</span>
    </div>
    <!-- <p class="financing">Suggested payments with 6 months special financing</p> -->

    <div class="product-quantity-stock-info-wrapper">
      <div class="product-quantity">
        <button class="quantity-btn">-</button>
        <label>{{ quantity }}</label>
        <button class="quantity-btn">+</button>
      </div>

      <div class="stock-info">
        <p>Only <span class="stock-count">12 Items Left</span>! Don’t miss it</p>
      </div>
    </div>

    <div class="product-actions">
      <button class="buy-now-btn" (click)="goToCheckoutPage()">Buy Now</button>
      <button class="add-to-cart-btn" (click)="addToCart()">Add to Cart</button>
    </div>

    <div class="delivery-info">
      <p>Free Delivery <span>Enter your Postal code for Delivery Availability</span></p>
      <p>Return Delivery <span>Free 30days Delivery Returns. <a href="#">Details</a></span></p>
    </div>
  </div>
</div>
