<div class="product-container">
  <div class="product-image">
    <img src="assets/images/Henna-2_2nd.jpg" alt="Henna" />
    <div class="thumbnail-container">
      <img src="assets/images/Henna-2_2nd.jpg" alt="Henna" />
      <img src="assets/images/Henna-2_2nd.jpg" alt="Henna" />
      <img src="assets/images/Henna-2_2nd.jpg" alt="Henna" />
      <!-- Add more thumbnails as needed -->
    </div>
  </div>

  <div class="product-details">
    <h2>Henna Powder</h2>
    <h1 style="font-size: 14px;">Mehandi Powder | 500 Grams</h1>

    <p class="product-description">Kalagura Gampa Henna Powder|Mehandi Powder| comes in a 500 grams pack of 100% natural
      and pure form of Henna Leaves only. This Henna powder gives the much needed care for hair, gives natural brown/red
      color. All this without Chemicals, PPD, and Parabens.
    </p>

    <p>
      Benefits of Henna:
    </p>
    <ul>
      <li>
        Henna powder is a Natural product

      </li>
      <li>
        It acts as a conditioner

      </li>
      <li>
        Gives natural colour dark red/brown
      </li>
    </ul>
    <div class="product-rating">
      <span>⭐⭐⭐⭐⭐</span>
      <span>(10)</span>
    </div>
    <div class="product-price">
      <span>330.00</span>
    </div>
    <!-- <p class="financing">Suggested payments with 6 months special financing</p> -->

    <div class="product-quantity-stock-info-wrapper">
      <div class="product-quantity">
        <button class="quantity-btn">-</button>
        <label>{{ quantity }}</label>
        <button class="quantity-btn">+</button>
      </div>

      <div class="stock-info">
        <p>Only <span class="stock-count">12 Items Left</span>! Don’t miss it</p>
      </div>
    </div>

    <div class="product-actions">
      <button class="buy-now-btn" (click)="goToCheckoutPage()">Buy Now</button>
      <button class="add-to-cart-btn" (click)="addToCart()">Add to Cart</button>
    </div>

    <!-- <div class="delivery-info">
      <p>Free Delivery <span>Enter your Postal code for Delivery Availability</span></p>
      <p>Return Delivery <span>Free 30days Delivery Returns. <a href="#">Details</a></span></p>
    </div> -->
  </div>
</div>

<!-- <div class="similar-products">
  <div class="header">
    <h3>Similar Products</h3>
  </div>
  <div class="horizontal-scroll-container">
    <div class="scrollable-content">
      <div *ngFor="let item of items" class="product-item">
        <app-product></app-product>
      </div>
    </div>
  </div>
</div> -->
