@import '../../../../styles/_variables.scss';


.shipping-policy-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    margin-bottom: 30px;
  }

  .section {
    background-color: $light-gray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;

    .section-title {
      font-size: 1.5rem;
      color: $secondary-color;
      margin-bottom: 10px;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: $primary-color;
      }
    }

    .section-content {
      font-size: 1rem;
      color: #555;
      line-height: 1.6;
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .shipping-policy-container {
    padding: 15px;
  }

  .title {
    font-size: 1.5rem;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .section-content {
    font-size: 0.9rem;
  }
}
